/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/* variables*/
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-grey-dark: #dcdcdc;

  --special-yellow: #f7e296;
  --special-yellow-half: rgba(247, 226, 150, 0.5);

  --special-yellow-dark: #f0c52e;
  --special-green: #91c92f;
  --special-grey: #ebebeb;
  --special-grey-light: #d9d9d9;
  --special-grey-lighter: rgba(238, 238, 238, 0.7);

  --search-placeholder: var(--special-black-a3);
  --search-placeholder-hover: var(--special-black-a6);
  --form-input: #f2f2f2;
  --form-input-hover: #eaeaea;
  --form-input-invalid: #f6dada;

  --range-button: #c4c4c4;
  --shadow: rgba(0, 0, 0, 0.18);
  --shadow-black-015: rgba(0, 0, 0.15);

  --special-white-a7: rgba(255, 255, 255, 0.7);
  --special-white-a6: rgba(255, 255, 255, 0.6);
  --special-white-a3: rgba(255, 255, 255, 0.3);

  --special-black-a6: rgba(0, 0, 0, 0.6);
  --special-black-a5: rgba(0, 0, 0, 0.5);
  --special-black-a4: rgba(0, 0, 0, 0.4);
  --special-black-a3: rgba(0, 0, 0, 0.3);
  --special-black-a2: rgba(0, 0, 0, 0.2);
  --special-black-a1: rgba(0, 0, 0, 0.1);
}


/* fonts */
@font-face {
  font-family: "Gilroy";
  src: local("gilroyextrabold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: local("gilroylight"),
      url("../fonts/gilroylight.woff2") format("woff2"),
      url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("opensanslight"),
      url("../fonts/opensanslight.woff2"),
      url("../fonts/opensanslight.woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}


/* global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

body {
  min-width: 1200px;
  min-height: 100%;
  padding-top: 20px;

  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* common */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  width: 1px;
  height: 1px;
  padding: 0;

  border: 0;
}

.headline {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: var(--basic-black);
}

.more-btn {
  position: relative;

  display: block;

  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.more-btn:active {
  color: var(--special-black-a6);
}

.more-btn:focus {
  outline: none;
}

.more-btn::before {
  content: "";
  display: block;
  width: 100%;
  min-height: 8px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  background-color: var(--special-yellow-dark);
}

.more-btn:focus::before {
  min-height: 100%;
  outline: none;
}

.more-btn:hover::before {
  min-height: 100%;
}

.button-link {
  width: 220px;
  padding-left: 6px;

  text-align: center;
}

.button-link--wide {
  width: 260px;
}

.button-submit {
  width: 200px;

  font-size: 18px;

  background: transparent;
  border: none;
}

.decor::before {
  content: "";
  display: block;
  width: 100px;
  height: 7px;

  position: absolute;
}

.container {
  width: 1160px;
  margin: 0 auto;
}


/* =index-page=*/
.index-page {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}


/* header */
.header {
  min-height: 206px;
}

.header__nav {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;

  background-image: linear-gradient(var(--basic-white) 20px, var(--special-yellow) 20px, var(--special-yellow) 320px);
}


/* nav */
.nav {
  display: grid;
  grid-template-columns: 540px repeat(2, 1fr);
  grid-template-rows: minmax(53px, auto) minmax(50px, auto) 1fr;
  row-gap: 5px;
  grid-template-areas:
    "nav__logo . ."
    "nav__search nav__user nav__site-function"
    "nav__menu nav__menu nav__menu";

  position: relative;
}

.nav__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav__logo;
}

.nav__search {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: nav__search;

  position: absolute;
  top: -12px;
}

.nav__user {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: nav__user;
}

.nav__site-function {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: nav__site-function;
  justify-self: end;
}

.nav__menu {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav__menu;
  padding-top: 12px;
  padding-bottom: 4px;
}


/* logo */
.logo {
  height: 35px;
}

.logo:focus {
  opacity: 0.6;
  outline: none;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3
}


/* search */
.search {
  position: relative;

  max-width: 482px;
  height: 55px;
  padding-left: 37px;
}

.search::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  position: absolute;
  top: 22px;
  left: 2px;

  background-image: url("../img/icon_search.svg");
  background-repeat: no-repeat;
}

.search:focus-within {
  border-bottom: 2px solid var(--basic-black);
}

.search:focus-within  .search__button {
  opacity: 1;
  border: 2px solid var(--basic-black);
  transition: opacity ease 0.5s;
}

.search__input {
  width: 315px;
  height: 55px;

  font-size: inherit;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: var(--search-placeholder);

  background-color: transparent;
  border: none;

  -webkit-appearance: none;
}

.search__input:focus {
  color: var(--basic-black);
  outline: 0;
}

.search__input[type="search"]:-webkit-autofill {
  height: 45px;
  -webkit-box-shadow:0 0 0 45px var(--special-yellow) inset;
  -webkit-text-fill-color: var(--basic-black);
}

.search__input[type="search"]:-webkit-autofill:focus {
  height: 45px;
  -webkit-box-shadow:0 0 0 45px var(--special-yellow) inset;
  -webkit-text-fill-color: var(--basic-black);
}

.search__input[type="search"]::-webkit-search-decoration {
  display: none;
}

.search__input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search__input::-webkit-input-placeholder {
  color: var(--input-placeholder);
}

.search__input::-moz-placeholder {
  color: var(--input-placeholder);
}

.search__input::placeholder {
  color: var(--input-placeholder);
}

.search__input:hover::-webkit-input-placeholder{
  color: var(--search-placeholder-hover);
}

.search__input:hover::-moz-placeholder{
  color: var(--search-placeholder-hover);
}

.search__input:hover::placeholder{
  color: var(--search-placeholder-hover);
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;

  width: 92px;
  height: 55px;

  font-size: inherit;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: transparent;
  border-color: 2px solid var(--basic-black);

  opacity: 0;
  cursor: pointer;
}

.search__button:focus {
  color: var(--basic-white);

  background-color: var(--basic-black);
  outline: 0;
  border-bottom: none;

  opacity: 1;
  transition: opacity ease 0.5s;
}

.search__button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search__button:active {
  color: var(--special-white-a3);
  opacity: 1;
}


/* user */
.user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.user__link {
  position: relative;

  padding-left: 24px;
  padding-right: 10px;

  line-height: 20px;
}

.user__link:visited {
  color: var(--basic-black);
}

.user__link:focus {
  outline: none;
  opacity: 0.6;
}

.user__link:hover {
  opacity: 0.6;
}

.user__link:active {
  opacity: 0.3;
}

.user__link--login::before {
  content: "";
  display: block;
  width: 13px;
  height: 14px;

  position: absolute;
  top: 6px;
  left: 2px;

  background-image: url("../img/icon_user.svg");
  background-repeat: no-repeat;
}

.user__link--logout {
  padding-left: 12px;
  color: var(--special-black-a3);
}


/* site-function */
.site-function {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;

  list-style: none;
}

.site-function__item {
  margin-right: 40px;
}

.site-function__item:nth-child(2n) {
  margin-right: 0;
}

.site-function__link {
  position: relative;

  padding-left: 26px;
  line-height: 20px;
}

.site-function__link:visited {
  color: var(--basic-black);
}

.site-function__link:focus {
  opacity: 0.6;
  outline: none;
}

.site-function__link:hover {
  opacity: 0.6;
}

.site-function__link:active {
  opacity: 0.3;
}

.site-function__link--compare::before {
  content: "";
  display: block;

  position: absolute;
  top: 5px;
  left: 2px;
  width: 14px;
  height: 14px;

  background-image: url("../img/icon_chart.svg");
  background-repeat: no-repeat;
}

.site-function__link--cart::before {
  content: "";
  display: block;

  position: absolute;
  top: 5px;
  left: 4px;
  width: 10px;
  height: 10px;

  background-image: url("../img/icon_cart.svg");
  background-repeat: no-repeat;
}


.menu {
  display: grid;
  grid-template-columns: 540px 160px 222px 1fr;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.menu__item--catalog {
  position: relative;
}

.menu__item:nth-child(4n) {
  text-align: right;
}

.menu__link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--basic-black);
}

.menu__link:visited {
  color: var(--basic-black);
}

.menu__link:focus {
  color: var(--special-black-a6);
}

.menu__link:hover {
  color: var(--special-black-a6);
}

.menu__link:active {
  color: var(--special-black-a3);
}

.menu__link:focus {
  outline: none;
}

.menu__link--catalog {
  position: relative;
  padding-left: 0;
  padding-right: 35px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.menu__link--catalog::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;

  position: absolute;
  top: 0;
  right: 0;

  background-image: url("../img/icon_plus.svg");
  background-repeat: no-repeat;
}


/* catalog-menu*/
.wrapper-catalog-menu {
  position: absolute;
  top: auto;
  left: -60px;
  z-index: 2;

  display: none;
  width: 1160px;
  padding-top: 25px;
  padding-left: 60px;
  padding-bottom: 22px;

  background-color: var(--special-yellow);
}

.menu__item--catalog:focus > .wrapper-catalog-menu {
  display: block;
}

.menu__item--catalog:focus-within > .wrapper-catalog-menu {
  display: block;
}

.menu__item--catalog:hover > .wrapper-catalog-menu {
  display: block;
}

.catalog-menu {
  display: flex;
  flex-wrap: wrap;
  min-width: 540px;
  padding-left: 0;

  list-style: none;
}

.catalog-menu__item {
  display: flex;
  flex-direction: column;
  min-height: 110px;
}

.catalog-menu__link {
  padding-bottom: 16px;
  padding-right: 63px;

  line-height: 20px;
}

.catalog-menu__link:last-child {
  margin: 0;
}

.catalog-menu__link {
  color: var(--basic-black);
}

.catalog-menu__link:focus {
  color: var(--special-black-a6);
  outline: none;
}

.catalog-menu__link:hover {
  color: var(--special-black-a6);
}

.catalog-menu__link:active {
  color: var(--special-black-a3);
}


/* promo */
.promo {
  position: relative;
  top: -35px;
  z-index: 1;

  margin-top: 0px;
  padding-bottom: 55px;

  background-image: linear-gradient(var(--special-yellow) 148px, var(--basic-white) 148px);
}

.promo__slider {
  margin: 0 auto;
}


/* toggle*/
.toggle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 72px;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.toggle__item {
  display: flex;

  line-height: 12px;
}

.toggle__button {
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: transparent;
  background-size: cover;

  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.toggle__button--current::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 auto;

  border: 1px solid var(--basic-black);
  border-radius: 50%;
}


/* slider */
.slider {
  overflow: hidden;
  position: relative;

  min-height: 535px;
  padding-left: 25px;
  padding-right: 25px;
}

.slider__toggle {
  position: absolute;
  bottom: 162px;
  right: 88px;
}

.slider__list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.slide {
  display: none;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.slide--current {
  display: flex;
}

.slide__wrapper-photo {
  width: 560px;
  margin-right: 40px;

  align-self: center;
}

.slide__wrapper-description {
  position: relative;

  flex-direction: column;
  align-self: start;
  width: 560px;
}

.slide__photo {
  margin-left: 65px;
  padding-top: 20px;
}

.slide__photo--two {
  margin-left: 90px;
  padding-top: 50px;
}

.slide__photo--three {
  margin-left: 5px;
}

.slide__title {
  margin: 0;
  padding-top: 112px;
  padding-bottom: 26px;

  font-size: 47px;
  line-height: 58px;
}

.slide__number {
  position: absolute;
  top: 2px;
  right: 22px;
  z-index: -1;

  font-size: 179px;
  line-height: 219px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: var(--basic-white);
}

.slide__text {
  margin: 0;
  padding-bottom: 50px;

  line-height: 20px;
}

.slide__description {
  margin-top: 52px;
}

.decor--slider::before {
  top: 55px;
  right: 460px;

  background-color: var(--basic-white);
}


/* slide-details */
.slide-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: end;
  padding: 0;

  letter-spacing: 0.1em;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  color: var(--basic-black);

  list-style: none;
}

.slide-details::after {
  content: "";
  flex: auto;
  justify-content: flex-start;
}

.slide-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 62px;
}

.slide-detail__text--value {
  padding-bottom: 16px;

  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slide-detail__text--feature {
  font-size: 13px;
  line-height: 15px;
}


/* popular */
.popular {
  margin-bottom: 73px;
}

.popular__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.popular__list::after {
  content: "";
  flex: auto;
  justify-content: flex-start;
}

.popular__item {
  width: 160px;
  margin-right: 40px;
}

.popular__item:nth-child(6n) {
  margin-right: 0;
}

.popular__link {
  position: relative;

  display: block;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  color: var(--basic-black);
}

.popular__link--fitness-bracelet {
  letter-spacing: 0;
}

.popular__link:focus {
  outline: none;
}

.popular__link::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 38px;

  background-color: var(--special-yellow);
}

.popular__link:focus::before {
  background-color: var(--special-yellow-dark);
}

.popular__link:hover::before {
  background-color: var(--special-yellow-dark);
}

.popular__link:active::before {
  background-color: var(--special-yellow-dark);
}

.popular__link::after {
  content: "";
  display: block;
  width: 160px;
  height: 160px;

  position: absolute;
  top: 0;
  left: 0;

  background-repeat: no-repeat;
  background-position: center;
}

.popular__link:active::after {
  opacity: 0.3;
}

.popular__link--vr::after {
  background-image: url("../img/icon_vr.svg");
}

.popular__link--monopod::after {
  background-image: url("../img/icon_monopod.svg");
}

.popular__link--action-camera::after {
  background-image: url("../img/icon_action-camera.svg");
}

.popular__link--fitness-bracelet::after {
  background-image: url("../img/icon_bracelet.svg");
}

.popular__link--smart-watch::after {
  background-image: url("../img/icon_watch.svg");
}

.popular__link--quadrocopter::after {
  background-image: url("../img/icon_quadrocopter.svg");
}


/* service */
.wrapper-service {
  position: relative;
  z-index: 0;

  min-height: 400px;
  margin-bottom: 44px;

  background-image: linear-gradient(var(--basic-white) 110px, var(--basic-grey-light) 110px, var(--basic-grey-light) 110px);
}

.service {
  display: grid;
  grid-template-columns: 285px 760px;
  grid-template-rows: minmax(330px, auto);
  -moz-column-gap: 115px;
       column-gap: 115px;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 285px;
  min-height: 320px;
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 80px;
  padding-left: 0;

  border-right: 7px solid var(--basic-black);

  list-style: none;
}

.service__item {
  width: 278px;
  margin-bottom: 22px;
}

.service__button {
  position: relative;

  width: 160px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.service__item--checked {
  background-color: var(--basic-black);
}

.service__button--checked {
  color: var(--special-yellow);
}

.service__button:active {
  color: var(--special-yellow);
}

.service__button:active::before {
  content: "";
  width: 277px;
  margin-left: 60px;

  background-color: var(--basic-black);
}

.service__descriptions {
  overflow: hidden;

  min-height: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service__description {
  position: relative;

  display: none;
  padding-top: 35px;
}

.service__description::after {
  content: "";
  display: block;

  position: absolute;
  top: 80px;
  right: 2px;

  background-repeat: no-repeat;
}

.service__description--delivery::after {
  width: 136px;
  height: 164px;

  background-image: url("../img/picture-delivery.svg");
}

.service__description--warranty::after {
  width: 171px;
  height: 195px;

  top: 62px;
  right: 0;

  background-image: url("../img/picture-warranty.svg");
}

.service__description--credit::after {
  width: 171px;
  height: 195px;

  top: 58px;
  right: -8px;
  background-image: url("../img/picture-credit.svg");
}

.service__description--active {
  display: block;
}

.service__description-headline {
  margin-bottom: 40px;

  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service__description-text {
  max-width: 574px;
  letter-spacing: 0.1em;
}


/* logotypes */
.logotypes {
  margin-bottom: 20px;
  padding-top: 45px;
  padding-bottom: 55px;
}

.logotypes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  padding-left: 0;

  list-style: none;
}

.logotypes__list::after {
  content: "";
  flex: auto;
  justify-content: flex-start;
}

.logotypes__item {
  width: 260px;
  height: 100px;
  margin-right: 40px;
}


.logotypes__item:nth-child(4n) {
  margin-right: 0;
}

.logotypes__image {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(100%) opacity(15%);
          filter: grayscale(100%) opacity(15%);
}

.logotypes__link:focus {
  outline: none;
}

.logotypes__link:focus > .logotypes__image {
  -webkit-filter: grayscale(0) opacity(100%);
          filter: grayscale(0) opacity(100%);
}


.logotypes__link:hover > .logotypes__image {
  -webkit-filter: grayscale(0) opacity(100%);
          filter: grayscale(0) opacity(100%);
}


/* wrapper-about-contacts */
.wrapper-about-contacts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 75px;
}


/* about */
.about {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 560px;
}

.about__title {
  margin: 0;
  padding-top: 55px;
  padding-bottom: 25px;

  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about__text {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 15px;
}

.about__partner-list {
  margin: 0;
  padding-left: 18px;
  padding-top: 38px;
  padding-bottom: 53px;

  list-style-type: circle;
  list-style-position: outside;
}

.about__partner-item {
  margin-bottom: 15px;
  padding-left: 15px;

  font-size: 16px;
  line-height: 28px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.about__partner-item::marker {
  color: var(--basic-grey-light);
}

.decor--about::before {
  width: 80px;

  background-color: var(--basic-black);
}


/* contacts */
.contacts {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 560px;
}

.contacts__title {
  margin: 0;
  padding-top: 55px;
  padding-bottom: 25px;

  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 15px;
}

.contacts__map {
  display: block;
  margin-top: 12px;
  margin-bottom: 67px;
}

.contacts__map:focus {
  outline: none;
}

.contacts__more {
  padding-right: 4px;
}

.map__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.decor--contacts::before {
  width: 80px;

  background-color: var(--basic-black);
}


/* footer */
.footer {
  color: var(--basic-white);

  background-color: var(--basic-dark);
}

.footer-container {
  position: relative;

  display: grid;
  grid-template-columns: 212px 152px 422px 152px 222px;
  grid-template-rows: minmax(66px, auto) minmax(35px, auto) minmax(65px, auto) minmax(165px, auto);
  grid-template-areas:
    ". . footer__user footer__user footer__site-function"
    "footer__logo . . . ."
    "footer__address  footer__menu footer__menu footer__menu footer__telephone"
    "decor footer__social footer__social footer__social footer__copyright";
}

.footer__logo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer__logo;
  align-self: center;
}

.footer__user {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: footer__user;
  align-self: end;
  justify-self: end;

  margin-right: 24px;
  margin-bottom: -7px;
}

.footer__user .user__item--login {
  margin-left: 5px;
  margin-right: -11px;
}

.footer__user .user__link {
  color: var(--special-white-a7);
}

.footer__user .user__link:visited {
  color: var(--special-white-a7);
}

.footer__user .user__item--login .user__link--login-yellow::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;

  position: absolute;
  top: 4px;
  left: -2px;

  background-image: url("../img/icon_user--yellow.svg");
  background-repeat: no-repeat;
}

.footer__site-function {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: footer__site-function;
  align-self: end;

  margin-left: 5px;
  margin-bottom: -7px;
}

.footer__site-function .site-function__item {
  margin-right: 34px;
}

.footer__site-function .site-function__item:last-child {
  margin-right: 0;
}

.footer__site-function .site-function__link {
  color: var(--special-white-a7);
}

.footer__site-function .site-function__link:visited {
  color: var(--special-white-a7);
}

.footer__site-function .site-function__link--cart-yellow {
  margin-left: 2px;
}

.footer__site-function .site-function__link--compare-yellow::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;

  position: absolute;
  top: 5px;
  left: 0px;

  background-image: url("../img/icon_chart--yellow.svg");
  background-repeat: no-repeat;
}

.footer__site-function .site-function__link--cart-yellow::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;

  position: absolute;
  top: 5px;
  left: 5px;

  background-image: url("../img/icon_cart--yellow.svg");
  background-repeat: no-repeat;
}

.footer__address {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer__address;
  align-self: end;
  margin-bottom: 0;
}

.footer__menu {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: footer__menu;
  align-self: end;
}

.menu--footer{
  display: flex;
  flex-wrap: wrap;
  margin-left: 156px;
}

.menu--footer .menu__item {
  padding-right: 33px;
}

.menu--footer .menu__item:first-child {
  padding-left: 0;
}

.footer__menu .menu__link {
  color: var(--basic-white);
}

.footer__menu .menu__link:visited {
  color: var(--basic-white);
}

.footer__menu .menu__link:focus {
  color: var(--special-white-a6);
  outline: none;
}

.footer__menu .menu__link:hover {
  color: var(--special-white-a6);
}

.footer__menu .menu__link:active {
  color: var(--special-white-a3);
}

.decor--footer::before {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: decor;

  top: 75px;

  width: 80px;

  background-color: var(--special-yellow-dark);
}

.footer__telephone {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: footer__telephone;
  align-self: end;
  justify-self: end;
  margin-bottom: 0;

  color: var(--basic-white);
}

.footer__telephone:focus {
  outline: none;
}

.footer__social {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: footer__social;
  align-self: center;
  justify-self: center;
}


.footer__copyright {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: footer__copyright;
  align-self: center;
  justify-self: end;
}

.footer__copyright:focus {
  opacity: 0.6;
  outline: none;
}

.footer__copyright:hover {
  opacity: 0.6;
}

.footer__copyright:active {
  opacity: 0.3;
}


/* social */
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
  padding-left: 10px;


  list-style: none;
}

.social::after {
  content: "";
  flex: auto;
  justify-content: flex-start;
}

.social__item {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link:focus {
  opacity: 0.3;
  outline: none;
}

.social__link:hover {
  opacity: 0.3;
}

.social__link:active {
  opacity: 0.1;
}


/* index modals */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;

  display: block;
  margin: auto;

  box-shadow: 0 10px 16px var(--shadow-black-015)
}

.modal--write-us {
  display: none;
  width: 960px;
  height: 550px;
  padding-left: 98px;
  padding-top: 92px;
  padding-right: 98px;
  padding-bottom: 92px;

  background-color: var(--basic-white);
}

.modal--map {
  display: none;
  width: 960px;
  height: 560px;
}

.modal--open {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal--error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.close-btn {
  position: absolute;

  display: block;
  width: 55px;
  height: 55px;

  background-color: var(--special-yellow-dark);
  background-image: url("../img/modal_close-cross.svg");
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  border-radius: 50%;

  opacity: 0.6;
  cursor: pointer;
}

.close-btn:focus {
  opacity: 1;
  outline: none;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:active {
  opacity: 0.3;
}

.close-btn--write-us {
  top: 20px;
  right: 20px;
}

.close-btn--map {
  top: 29px;
  right: 36px;
}

.modal__plug {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.modal__plug--off {
  display: none;
}

.modal--map iframe {
  border: none;
}

.write-us-form > fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}

.write-us-form__fieldset-imitate {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: 82px 199px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 30px;
  width: 760px;
  height: 313px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);

  border: 0;
}

.write-us-form__field {
  margin: 0;
}

.write-us-form__field--text {
  grid-column: 1 / span 3 ;
}

.write-us-form__label {
  display: inherit;
}

.write-us-form__input {
  display: inherit;
  width: 360px;
  height: 50px;
  margin-top: 10px;
  padding-left: 22px;
  padding-top: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--special-black-a4);

  border: 2px solid var(--form-input);
  background-color: var(--form-input);
}

.write-us-form__input:hover {
  background-color: var(--form-input-hover);
}

.write-us-form__input:focus {
  color: var(--basic-black);
  outline: none;
  border: 2px solid var(--special-yellow);
  background-color: var(--basic-white);
}

.write-us-form__input:invalid {
  border: var(--form-input-invalid);
  background-color: var(--form-input-invalid);
  box-shadow: none;
}

.write-us-form__input--textarea {
  width: 760px;
  height: 167px;
  padding-top: 20px;
  overflow: auto;
  resize: none;
}

.write-us-form__submit {
  margin-top: 36px;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


/* =catalog= */
/* catalog-main */
.catalog-page {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}

.catalog-main__title {
  position: relative;

  margin: 0;
  padding-top: 43px;
  padding-bottom: 32px;
  padding-left: 60px;

  font-size: 47px;
  line-height: 58px;
}


/* breadcrumbs */
.catalog-main__breadcrumbs {
  margin: 0;
  padding-left: 60px;
  padding-bottom: 48px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 14px;
  padding-right: 27px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  color: var(--special-black-a3);
}

.breadcrumbs__item::after{
  content: "";
  display: block;
  width: 6px;
  height: 6px;

  position: absolute;
  top: 6px;
  right: 6px;

  border-bottom: 1px solid var(--basic-black);
  border-right: 1px solid var(--basic-black);

  transform: rotate(-45deg);
}

.breadcrumbs__link[href]:focus {
  color: var(--special-black-a6);
  outline: none;
}

.breadcrumbs__link[href]:hover {
  color: var(--special-black-a6);
}

.breadcrumbs__link[href]:active {
  color: var(--special-black-a1);
}


.wrapper-form-catalog {
  display: grid;
  grid-template-columns: 1fr 348px 852px 1fr;
  grid-template-areas: "form form catalog catalog";
}

/* form */
.form {
  grid-area: form;
  justify-content: end;

  display: grid;
  grid-template-columns: 60px 200px 68px;
  grid-template-rows: minmax(70px, -webkit-min-content)  auto;
  grid-template-rows: minmax(70px, min-content)  auto;

  background-image: linear-gradient(var(--basic-grey-dark) 70px, var(--basic-grey-light) 70px);
}

.form__header {
  grid-column: 1 / span 3;

  background-color: var(--basic-grey-dark);
}

.form__title {
  margin-left: 60px;
  margin-top: 25px;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form__filter {
  grid-column: 2;
}

/* filter */
.filter {
  margin: 0 auto;
  padding-top: 70px;
}

.decor--fieldset::before {
  width: 200px;
  height: 2px;

  background-color: var(--basic-black);
}

.filter__fieldset {
  position: relative;

  margin-left: 0;
  margin-bottom: 39px;
  padding: 0;

  border: none;
}

.filter__legend {
  padding-top: 16px;
  padding-bottom: 30px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.filter__fieldset .filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 22px;
}

.filter__fieldset .filter__item {
  margin-bottom: 15px;
  padding-left: 28px;
}

.filter__fieldset .filter__item:last-child {
  margin-bottom: 0;
}

.wrapper-range-price {
  position: relative;
}

.range {
  position: relative;

  height: 44px;
  padding-top: 10px;
}

.range__scale {
  height: 2px;
  margin-bottom: 10px;

  background-color: var(--special-black-a2);
}

.range__bar {
  width: 94px;
  height: 2px;
  margin-left: 20px;

  background-color: var(--special-green);
}

.range__button {
  position: absolute;
  top: 0px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0px;

  border-radius: 50%;
  border: 8px solid var(--basic-white);
  background-color: var(--range-button);
  box-shadow: 0 2px 2px 0 var(--shadow);
  cursor: pointer;
}

.range__button:focus {
  outline: none;
}

.range__button--max {
  left: 114px;
}

.range__price {
  position: absolute;

  padding-top: 8px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
}

.range__price--min {
  left: 0;
}

.range__price--max {
  left: 95px;
}

.range__price input {
  width: 55px;
  height: 16px;

  font-family: inherit;
  font-size: inherit;

  border: none;
  background-color: transparent;

  -moz-appearance: textfield;
}

.range__price input::-webkit-outer-spin-button,
.range__price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range__price input::outer-spin-button,
.range__price input::inner-spin-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.range__price input:focus {
  outline: none;
}

.filter__item label {
  position: relative;

  display: block;
  padding-top: 2px;
  padding-left: 13px;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.filter__checkbox:focus + label {
  opacity: 0.6;
}

.filter__checkbox:hover + label {
  opacity: 0.6;
}

.filter__checkbox:disabled + label {
  opacity: 0.25;
  cursor: not-allowed;
}

.filter__checkbox + label::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;

  position: absolute;
  top: 0;
  left: -28px;

  border: 2px solid var(--basic-black);
  border-radius: 2px;
  background-color: transparent;
}

.filter__checkbox:checked + label::after {
  content: "";
  display: block;
  width: 12px;
  height: 6px;

  position: absolute;
  top: 8px;
  left: -22px;

  border: none;
  border-bottom: 2px solid var(--basic-black);
  border-left: 2px solid var(--basic-black);

  transform: rotate(-45deg);
}

.filter__radio:checked + label{
  opacity: 1;
}

.filter__radio:focus + label {
  opacity: 0.6;
}

.filter__radio:hover + label {
 opacity: 0.6;
}

.filter__radio:active + label {
  opacity: 1;
}

.filter__radio:disabled + label {
  opacity: 0.25;
  cursor: not-allowed;
}

.filter__radio + label::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;

  position: absolute;
  top: -1px;
  left: -28px;

  border: 2px solid var(--basic-black);
  border-radius: 50%;
  background-color: transparent;
}

.filter__radio:checked + label::after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;

  position: absolute;
  top: 7px;
  left: -20px;

  border: 4px solid var(--basic-black);
  border-radius: 50%;
}

.filter__submit {
  margin-top: 3px;
  padding-left: 2px;
}


/* catalog */
.catalog {
  grid-area: catalog;

  display: grid;
  grid-template-columns: 200px 632px;
  grid-template-rows: minmax(70px, auto) 1fr minmax(70px, auto);
}

.catalog__sorting {
  grid-column: 1 / span 3;

  position: relative;

  background-color: var(--basic-grey-light);
}

.catalog__display {
  grid-column: 1 / span 2;
  padding-top: 26px;
  padding-left: 70px;

}

.catalog__pagination {
  grid-column: 1 / span 2;
  margin-top: 25px;
  padding-left: 72px;
  padding-bottom: 62px;
}

.catalog__products {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 2px;
  padding-top: 0px;

  list-style: none;
}


/* sorting */
.sorting {
  display: grid;
  grid-template-columns: 274px 506px 52px;
  align-items: center;
  margin-bottom: 0;
}

.sorting__title {
  grid-column: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 72px;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting__list {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.sorting__item {
  margin-right: 33px;
}

.sorting__item:last-child{
  margin-right: 0;
}

.sorting__link {
  padding: 0;

  font-family: "Opens Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: var(--special-black-a3);

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.sorting__link--current {
  color: var(--basic-black);
}

.sorting__link:not(sorting__link--current):focus {
  color: var(--basic-black-a6);
  outline: none;
}

.sorting__link:not(sorting__link--current):hover {
  color: var(--special-black-a6);
}

.sorting__link:active {
  color: var(--basic-black);
}

.sorting__arrows {
  grid-column: 3;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left:  0;

  list-style: none;
}

.sorting__arrow {
  margin-right: 24px;
}

.sorting__arrow:last-child {
  margin-right: 0;
}

.sorting__arrow-link--up::before {
  content: url("../img/icon_arrow-up.svg");
  display: block;
  width: 10px;
  height: 10px;
}

.sorting__arrow-link--down::before {
  content: url("../img/icon_arrow-down.svg");
  display: block;
  width: 10px;
  height: 10px;
}

.sorting__arrow-link:focus {
  outline: none;
}

.sorting__arrow-link::before {
  opacity: 0.2;
}

.sorting__arrow-link:focus::before {
  opacity: 0.4;
}

.sorting__arrow-link:hover::before {
  opacity: 0.4;
}

.sorting__arrow-link:active::before {
  opacity: 1;
}

.sorting__arrow-link--active::before {
  opacity: 1;
}

.product {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 360px;
  min-height: 360px;
  margin-right: 40px;
  margin-top: 44px;
}

.product:nth-child(2n) {
  margin-right: 0;
}

.product:hover::before {
  content: "";
  display: block;
  width: 360px;
  height: 380px;

  position: absolute;
  top: 0;

  background-color: var(--special-grey-lighter);
}

.product--new::after {
  content: "new";
  display: block;
  width: 62px;
  height: 62px;

  position: absolute;
  top: 30px;
  right: 27px;

  padding-top: 20px;

  border: 2px solid var(--special-black-a3);
  border-radius: 50%;

  text-align: center;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color:  var(--special-black-a3);
}

.product__buttons-container {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product:focus-within {
  outline: none;
}

.product:focus-within > .product__buttons-container {
  visibility: visible;
}

.product:hover > .product__buttons-container {
  visibility: visible;
}

.product__link {
  color: var(--basic-black);
}

.product__title > .product__link:focus {
  outline: none;
}

.product__link--move-to-cart {
  width: 200px;
}

.product__link--move-to-compare {
  margin-top: 15px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--special-black-a5);
}

.product__link--move-to-compare:focus {
  color: var(--basic-black);
  outline: none;
}

.product__link--move-to-compare:hover {
  color: var(--basic-black);
}

.product__link--move-to-compare:active {
  color: var(--special-black-a2);
}

.product__image {
  margin-bottom: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__title {
  width: 270px;
  margin: 0;
  padding-top: 2px;

  font-size: 18px;
  line-height: 22px ;
  letter-spacing: 0.05em;
}

.product__price {
  margin-left: auto;
  margin-top: 0;
  margin-right: 0;
  padding-top: 5px;

  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}


.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 70px;
  max-width: 760px;
  padding-left: 0;

  list-style: none;

  background-color: var(--special-grey);
}

.pagination__item {
  display: block;
  margin-left: 24px;
  padding-left: 5px;
}

.pagination__item:nth-child(2) {
  margin-left: 0;
}

.pagination__item--prev {
  margin-left: 0;
  margin-right: auto;
  padding-left: 0;
}

.pagination__item--next {
  margin-left: auto;
  margin-right: 0;
  padding-left: 0;
}

.pagination__link {
  display: inline-block;
  vertical-align: middle;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:0.1em;
  text-transform: uppercase;
  color: var(--special-black-a3);
 }

.pagination__link[href]:not(.pagination__link--prev):not(.pagination__link--next):focus {
  color: var(--special-black-a6);
  outline: none;
}

.pagination__link[href]:not(.pagination__link--prev):not(.pagination__link--next):hover {
  color: var(--special-black-a6);
}

.pagination__link:active {
  color: var(--basic-black);
}

.pagination__link--current {
  color: var(--basic-black);
}

.pagination__link--prev {
  padding: 25px 30px;

  color: var(--basic-black);
}

.pagination__link--prev[href]:focus {
  outline: none;
  background-color: var(--special-grey-light);
}

.pagination__link--prev[href]:hover {
  background-color: var(--special-grey-light);
}

.pagination__link--prev[href]:active {
  color: var(--special-black-a3);
}

.pagination__link--next {
  padding: 25px 29px;

  color: var(--basic-black);
}

.pagination__link--next[href]:focus {
  outline: none;
  background-color: var(--special-grey-light);
}

.pagination__link--next[href]:hover {
  background-color: var(--special-grey-light);
}

.pagination__link--next[href]:active {
  color: var(--special-black-a3);
}
